{%extends 'login/base.html'%}
{% load widget_tweaks %}
{% block content  %}
	<div class="login-box">
    <div class="login-logo">
        <a href="{% url 'index'%}"><b>DR-</b>SYSTEM</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <p class="login-box-msg">Cambio Contraseña</p>
            <form action="." method="post">
                <!-- valida input si trae la url en next -->
                <input type="hidden" name="next" value= "{{next}} ">
                {%csrf_token%} 
                <div class="input-group mb-3">
                    {{form.password}}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    {{form.confirmPassword}}
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
               <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fas fa-lock"></i> Guardar Cambios </button>
                        
                    </div>
                </div>
            </form>
        </div>
        
    </div>
    <script type="text/javascript">
    	$(function(){
    		$('form').on('submit', function(e){
			//preventes para que no seaga de forma rapida
			e.preventDefault();

			//mediante jqeury obtendremos todos los datos de un formulario. this hace referencia al formulario llamamos a serliaze y nos permite obtener de manerade diccionario todos los datos
			//var parameters = $(this).serializeArray();
			var parameters = new FormData(this);
			submit_with_ajax(window.location.pathname, 'Notificación', '¿Estas seguro de cambiar tu Contraseña?', parameters, function(){
				Swal.fire({
  					title: 'Notificación!',
 					text: 'Nueva Contraseña guardada',
  					icon: 'success',
  					timer: 5000,
  					onClose: () => {
  						location.href = '{{login_url}}';
  					}
				});
				
				
			});
			
            
         	});

    	});
        
    </script>
    </div>
	
{% endblock  %}